.title-default {
  font-family: 'Poppins Medium';
  font-size: 14px;
}
.border-liner {
  border-bottom: 1px solid #fefefe;
}
.menu-listing, .item-label .item-native {
  background: #040505 !important;
}

.menu-text {
  font-family: 'Poppins Medium';
  font-size: 13px;
}

ion-menu {
  ion-content {
    background: #fff;
  }
}

.grid-menu ion-col {
  margin-bottom: 0px !important;
}
.left-padding {
  padding-left: 10px;
}
.spacer {
  height: 30px;
}

ion-row {
	padding-top: 0px;
	padding-bottom: 0px;
}

ion-icon {
  font-size: 25px;
}

.footer-img img {
  position: absolute;
  left: 0;
  bottom: 0
}

ion-col div > img {
  position: relative;
  top: 8px;
  width: 20px !important;
}

.list-md {
	padding-top: 1px;
	padding-bottom: 0px;
	position: relative;
	top: 3px;
}

ion-item {
  --min-height: 24px !important;
}

span img {
  position: relative;
  top: 6px;
}
