<ion-menu contentId='content' type="overlay">
  <ion-toolbar class="border-liner" color="light">
    <ion-title></ion-title>

    <ion-buttons slot="end">
      <ion-menu-toggle>
        <ion-icon name="close-circle-outline" color="primary" ></ion-icon>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>

  <ion-content color="light" class="content-section">

     <div class="spacer1">

    </div>
    <ion-grid class="grid-menu">
      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div (click)="loadPage({page: pages[0].url})">
              <img src="assets/img/side-menu/home.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[0].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div (click)="loadPage({page: pages[1].url})">
              <img src="assets/img/menu/notifications.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[1].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div>
              <img src="assets/img/menu/fire-alarms.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[2].title}}</ion-label>
            </div>
            <ion-list>
              <ion-item lines="none">
                <span (click)="loadPage({page: pages[3].url})">
                  <img src="assets/img/menu/fault-report.png" alt="" style="margin-right: 10px">
              <span class="menu-text">{{pages[3].title}}</span>
                </span>
              </ion-item>
              <ion-item lines="none">
                <span (click)="loadPage({page: pages[4].url})">
                  <img src="assets/img/menu/services.png" alt="" style="margin-right: 10px;">
                  <span class="menu-text">{{pages[4].title}}</span>
                </span>
              </ion-item>
            </ion-list>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div>
              <!-- (click)="loadPage({page: pages[5].url})" -->
              <img src="assets/img/menu/sprinklers.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[5].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div>
              <!-- (click)="loadPage({page: pages[6].url})" -->
              <img src="assets/img/menu/firehydrants.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[6].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div>
              <!-- (click)="loadPage({page: pages[7].url})" -->
              <img src="assets/img/menu/firehose.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[7].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div>
              <!-- (click)="loadPage({page: pages[8].url})" -->
              <img src="assets/img/menu/fire-ex.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[8].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div (click)="loadPage({page: pages[9].url})">
              <img src="assets/img/menu/profile.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[9].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <ion-menu-toggle>
            <div (click)="loadPage({page: pages[10].url})">
              <img src="assets/img/side-menu/contact-icon.png" alt="" style="margin-right: 10px">
              <ion-label class="menu-text">{{pages[10].title}}</ion-label>
            </div>
          </ion-menu-toggle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="left-padding">
          <div (click)="logOut()" >
            <img src="assets/img/side-menu/logout-icon.png" alt="" style="margin-right: 10px">
            <ion-label class="menu-text">LOGOUT</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div class="footer-img">
      <img src="../../../assets/img/footer-icon.png" alt="">
    </div> -->
  </ion-content>
  <div class="footer-img">
    <img src="../../../assets/img/footer-icon.png" alt="">
  </div>

</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>
