.title-default {
  width: 80%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}

.border-bottom {
  border: 1px solid #E4E4E4;
}

ion-grid {
  padding: 0px !important;
}

ion-col {
  padding: 0px !important;
  font-family: 'Roboto';
}

.text {
  font-family: 'Roboto';
  font-size: 12px;
  text-align: left;
}
ion-item {
  border: 2px solid #e4e4e4;
  border-radius: 15px;
  margin-bottom: 15px;
}

ion-input, textarea, ion-textarea {
  --border-style: none !important;
  font-size: 13px;
  font-family: 'Poppins Light';
}

ion-button {
  height: 50px;
}
.title {
  font-weight: 600;
  font-family: 'Roboto';
  font-size: 16px;
}
