<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>DEVICES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="heading">Search Device Address</p>
    <ion-list  class="search">
      <ion-item >
        <ion-input [(ngModel)]="devices.addr" shape="round" name="addr" type="text" placeholder="Search Device Address" (ionChange)="searchDevice($event)" (ionBlur)="searchDevice2($event)" color="primary" class="search-input" required>
      </ion-input>
      </ion-item>
      <ion-input [(ngModel)]="devices.cert_id" shape="round" name="cert_id" type="hidden"></ion-input>
      <ion-input [(ngModel)]="devices.siteID" name="siteID" type="hidden" placeholder="Site ID" ></ion-input>
      <ion-input [(ngModel)]="devices.serviceTypeID" name="serviceTypeID" type="hidden" placeholder="Service Type ID" ></ion-input>
    </ion-list>

    <div class="devices">
      <ng-container *ngFor="let item of devicesList" >
        <ion-card>
          <ion-card-content>
            <ion-grid fixed class="container">
              <ion-row>
                <ion-col size="6" class="left">Ref Number: </ion-col>
                <ion-col size="6" class="right">{{ item?.reference_number }}</ion-col>
                <ion-col size="6" class="left">Panel: </ion-col>
                <ion-col size="6" class="right">{{ item?.panel_number }}</ion-col>
                <ion-col size="6" class="left">Address: </ion-col>
                <ion-col size="6" class="right">{{ item?.addr }}</ion-col>
                <ion-col size="6" class="left">Device Type: </ion-col>
                <ion-col size="6" class="right">{{ item?.device_type }}</ion-col>
                <ion-col size="6" class="left">Zone: </ion-col>
                <ion-col size="6" class="right">{{ item?.zone }}</ion-col>
                <ion-col size="6" class="left">Device Message: </ion-col>
                <ion-col size="6" class="right">{{ item?.device_message }}</ion-col>
                <ion-col size="12" class="left">
                  <ion-button expand="block" color="primary" shape="round" (click)="writeTag({item})" >
                    Write To RFID
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ng-container>
    </div>

    <div *ngIf="devicesList?.length < 1 ">
      <ion-card>
        <ion-card-content>
          Device not found, please double check the device address.
        </ion-card-content>
      </ion-card>
    </div>

</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-tech-footer></app-tech-footer>
</footer>
