.title-default {
  width: 80%;
  font-family: 'Poppins Semi Bold';
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #FF1C1D
}

.error-msg {
  color: #FF1C1D;
  font-size: 15px;
  font-family: 'Poppins Light';
}

ion-item {
  border: 2px solid #e4e4e4;
  border-radius: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  font-family: 'Poppins Light';
}

ion-input, ion-textarea {
  --border-style: none !important;
  font-size: 13px;
  font-family: 'Poppins Light';
}

ion-button {
  height: 50px;
}


ion-grid {
  padding: 0px;
}
ion-col {
  padding: 15px;
}

.border-bottom {
  border-bottom: 1px solid #e4e4e4
}

.left {
  text-align: left;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: bold;
}

.right {
  text-align: right;
  font-size: 12px;
  font-family: 'Roboto';
}

.heading {
  text-align: left;
  font-size: 15px;
  font-family: 'Roboto';
  font-weight: bold;
}


