#logo {
  margin-bottom: 20px;
}

.black-text-20 {
  color: #313131;
  font-size: 20px;
  font-family: 'Poppins Semi Bold';
}

.padding-top-20 {
  padding-top: 20px;
  margin-bottom: 20px;
}

.error-msg {
  color: #B50909;
  font-size: 15px;
  font-family: 'Poppins Light';
}
.page-text {
  font-family: 'Poppins Light';
  font-size: 14px;
}

.error-msg {
  color: #B50909;
  font-size: 15px;
  font-family: 'Poppins Light';
}

.footer-img img {
  position: absolute;
  left: 0;
  bottom: 0
}

ion-button {
  height: 50px;
}
