<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>SERVICE CERTIFICATES</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Contract Number</ion-col>
      <ion-col size="6" class="right">{{ cert?.site_contract }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Certificate Number</ion-col>
      <ion-col size="6" class="right">{{ cert?.service_certificate_number }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Certificate Status</ion-col>
      <ion-col size="6" class="right" style="color: #11AC00;">
        <!-- {{ cert?.cert_status }} -->
        <span *ngIf="cert?.cert_status === 'In Progress'" style="color: #E9A800">{{ cert?.cert_status}}</span>
        <span *ngIf="cert?.cert_status === 'Assigned'" style="color: #E9A800">In Progress</span>
        <span *ngIf="cert?.cert_status === 'Accepted' && cert?.job_approve === ''" style="color: #E9A800">In Progress</span>
        <span *ngIf="cert?.cert_status === 'Accepted' && cert?.job_approve === 'Approved'" style="color: #11AC00">Assigned</span>
        <span *ngIf="cert?.cert_status === 'Completed'" style="color: #11AC00">{{ cert?.cert_status}}</span>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row class="border-bottom">
      <ion-col size="12" class="left heading">{{ site?.site_location }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="left">{{ site?.standard_code }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Service Company</ion-col>
      <ion-col size="8" class="right">{{ tech?.company_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Client/Customer</ion-col>
      <ion-col size="8" class="right">{{ cert?.company_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Site</ion-col>
      <ion-col size="8" class="right">{{ site?.site_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Address</ion-col>
      <ion-col size="8" class="right">{{ site?.site_address }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Protected Areas</ion-col>
      <ion-col size="8" class="right">{{ site?.protected_areas }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Due Date of Service</ion-col>
      <ion-col size="6" class="right">{{ cert?.next_service_date }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Responsible Person</ion-col>
      <ion-col size="8" class="right">{{ site?.responsible_person }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Contact Number</ion-col>
      <ion-col size="8" class="right">{{ site?.site_contact_number }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="left">{{ site?.standard_code }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">{{ site?.system_category }}</ion-col>
      <ion-col size="6" class="right">{{ site?.system_code }}</ion-col>
    </ion-row>

  </ion-grid>
<br>
  <ion-grid class="tables">
    <ng-container style="margin-bottom: 15px;" *ngIf="cert?.service_precheck_1 !== 'Disabled'">

      <ion-row class="dark-bg">
        <ion-col size="1"  class="title-head right-border1"><b>1</b></ion-col>
        <ion-col size="11" class="title-head"><b>Service and pre-service check (Section 12 SANS 10139)</b></ion-col>
      </ion-row>

      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">1.1</ion-col>
        <ion-col size="9" class="left">Log book analysis (Section 13.2)</ion-col>
        <ion-col size="2"  class="left">{{ cert?.log_book_analysis_1_1 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">1.2</ion-col>
        <ion-col size="9" class="left">Event archive (Download & Printout)</ion-col>
        <ion-col size="2"  class="left">{{ cert?.event_archive_1_2 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">1.3</ion-col>
        <ion-col size="9" class="left">Analogue values check (Download & Printout)</ion-col>
        <ion-col size="2"  class="left">{{ cert?.analogue_value_check_1_3 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">1.4</ion-col>
        <ion-col size="9" class="left">Configuration check, programming</ion-col>
        <ion-col size="2"  class="left">{{ cert?.configuration_check_programming_1_4 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">1.5</ion-col>
        <ion-col size="9" class="left">Disabled device check</ion-col>
        <ion-col size="2"  class="left">{{ cert?.disabled_device_check }}</ion-col>
      </ion-row>
    </ng-container>
    <br>
    <ng-container style="margin-bottom: 15px;" *ngIf="cert?.fire_detection_panel_2 !== 'Disabled'">
      <ion-row class="dark-bg">
        <ion-col size="1"  class="title-head right-border1"><b>2</b></ion-col>
        <ion-col size="11" class="title-head"><b>Fire Detection Panel & Device Testing (Section 12 SANS 10139)</b></ion-col>
      </ion-row>

      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">2.1</ion-col>
        <ion-col size="9" class="left">Call points remain unobstructed and conspicuous & New exits created?</ion-col>
        <ion-col size="2"  class="left">{{ cert?.call_points_2_1 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">2.2</ion-col>
        <ion-col size="9" class="left">Call points remain unobstructed and conspicuous & New exits created?</ion-col>
        <ion-col size="2"  class="left">{{ cert?.building_structure_changes_2_2 }}</ion-col>
      </ion-row>
    </ng-container>
    <br>
    <ng-container style="margin-bottom: 15px;" *ngIf="cert?.other_detection_devices_6 !== 'Disabled'">
      <ion-row class="dark-bg">
        <ion-col size="1"  class="title-head right-border1"><b>6</b></ion-col>
        <ion-col size="11" class="title-head"><b>Testing of other detection devices</b></ion-col>
      </ion-row>

      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">6.1</ion-col>
        <ion-col size="9" class="left">Beam detection</ion-col>
        <ion-col size="2"  class="left">{{ cert?.beam_detection_6_1 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">6.2</ion-col>
        <ion-col size="9" class="left">Air sampling</ion-col>
        <ion-col size="2"  class="left">{{ cert?.air_sampling_6_2 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">6.3</ion-col>
        <ion-col size="9" class="left">Liner Heat</ion-col>
        <ion-col size="2"  class="left">{{ cert?.liner_heat_6_3 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">6.4</ion-col>
        <ion-col size="9" class="left">Flame Detection</ion-col>
        <ion-col size="2"  class="left">{{ cert?.flame_detection_6_4 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">6.5</ion-col>
        <ion-col size="9" class="left">Wireless</ion-col>
        <ion-col size="2"  class="left">{{ cert?.wireless_6_5 }}</ion-col>
      </ion-row>
    </ng-container>
    <br>
    <ng-container style="margin-bottom: 15px;" *ngIf="cert?.auxiliary_interface_7 !== 'Disabled'">
      <ion-row class="dark-bg">
        <ion-col size="1"  class="title-head right-border1"><b>7</b></ion-col>
        <ion-col size="11" class="title-head"><b>Auxiliary interfacing (Double Knock)</b></ion-col>
      </ion-row>

      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.1</ion-col>
        <ion-col size="9" class="left">Stair pressure fans</ion-col>
        <ion-col size="2"  class="left">{{ cert?.stair_pressure_fans_7_1 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.2</ion-col>
        <ion-col size="9" class="left">Lift pressure fans</ion-col>
        <ion-col size="2"  class="left">{{ cert?.lift_pressure_fans_7_2 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.3</ion-col>
        <ion-col size="9" class="left">Smoke extraction fans</ion-col>
        <ion-col size="2"  class="left">{{ cert?.smoke_extraction_fans_7_3 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.4</ion-col>
        <ion-col size="9" class="left">Smoke Ventilation louvers</ion-col>
        <ion-col size="2"  class="left">{{ cert?.smoke_ventilation_louvers_7_4 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.5</ion-col>
        <ion-col size="9" class="left">Roller shutter doors/ Make up supply air</ion-col>
        <ion-col size="2"  class="left">{{ cert?.roller_shutter_doors_7_5 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.6</ion-col>
        <ion-col size="9" class="left">Fire door hold open devices</ion-col>
        <ion-col size="2"  class="left">{{ cert?.roller_shutter_doors_7_5 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.6</ion-col>
        <ion-col size="9" class="left">Fire door hold open devices</ion-col>
        <ion-col size="2"  class="left">{{ cert?.fire_doors_7_6 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.7</ion-col>
        <ion-col size="9" class="left">Escape door release/ Access control interfacing</ion-col>
        <ion-col size="2"  class="left">{{ cert?.escape_door_release_7_7 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.8</ion-col>
        <ion-col size="9" class="left">Auto evacuation activation</ion-col>
        <ion-col size="2"  class="left">{{ cert?.auto_evacuation_7_8 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.9</ion-col>
        <ion-col size="9" class="left">Auto remote signal (Remrad, alarm, sms unit)</ion-col>
        <ion-col size="2"  class="left">{{ cert?.auto_remote_signal_7_9 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.10</ion-col>
        <ion-col size="9" class="left">Gas shut off valves</ion-col>
        <ion-col size="2"  class="left">{{ cert?.gas_valves_7_10 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.11</ion-col>
        <ion-col size="9" class="left">Cooker head suppression interface</ion-col>
        <ion-col size="2"  class="left">{{ cert?.cooker_suppression_7_11 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.12</ion-col>
        <ion-col size="9" class="left">Lift Homing/Grounding</ion-col>
        <ion-col size="2"  class="left">{{ cert?.lift_homing_7_12 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.13</ion-col>
        <ion-col size="9" class="left">A/C Shutdown</ion-col>
        <ion-col size="2"  class="left">{{ cert?.ac_shutdown_7_13 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.14</ion-col>
        <ion-col size="9" class="left">Fresh Air Shutdown</ion-col>
        <ion-col size="2"  class="left">{{ cert?.fresh_air_shutdown_7_14 }}</ion-col>
      </ion-row>
      <ion-row class="">
        <ion-col size="1"  class="title-head right-border1">7.15</ion-col>
        <ion-col size="9" class="left">OTHER</ion-col>
        <ion-col size="2"  class="left">{{ cert?.other_7_15 }}</ion-col>
      </ion-row>
      </ng-container>
      <br>

      <ng-container style="margin-bottom: 15px;" *ngIf="cert?.monitoring_8 !== 'Disabled'">
        <ion-row class="dark-bg">
          <ion-col size="1"  class="title-head right-border1"><b>8</b></ion-col>
          <ion-col size="11" class="title-head"><b>Monitoring (Where installed)</b></ion-col>
        </ion-row>

        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">8.1</ion-col>
          <ion-col size="9" class="left">Escape doors</ion-col>
          <ion-col size="2"  class="left">{{ cert?.escape_doors_8_1 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">8.2</ion-col>
          <ion-col size="9" class="left">Sprinkler flow switch's & Value chamber</ion-col>
          <ion-col size="2"  class="left">{{ cert?.sprinkler_flow_8_2 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">8.3</ion-col>
          <ion-col size="9" class="left">Sprinkler pump room</ion-col>
          <ion-col size="2"  class="left">{{ cert?.sprinkler_pump_room_8_3 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">8.4</ion-col>
          <ion-col size="9" class="left">Sump pump</ion-col>
          <ion-col size="2"  class="left">{{ cert?.sump_pump_8_4 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">8.5</ion-col>
          <ion-col size="9" class="left">Generator signals</ion-col>
          <ion-col size="2"  class="left">{{ cert?.generator_signals_8_5 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">8.5</ion-col>
          <ion-col size="9" class="left">OTHER</ion-col>
          <ion-col size="2"  class="left">{{ cert?.other_8_6 }}</ion-col>
        </ion-row>
      </ng-container>
      <br>
      <ng-container style="margin-bottom: 15px;" *ngIf="cert?.gas_suppression_9 !== 'Disabled'">
        <ion-row class="dark-bg">
          <ion-col size="1"  class="title-head right-border1"><b>9</b></ion-col>
          <ion-col size="11" class="title-head"><b>Gas Suppression
            NOTE: DISCONNECT ALL SOLINOIDS BEFORE TESTING</b></ion-col>
        </ion-row>

        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.1</ion-col>
          <ion-col size="9" class="left">Single knock activation test</ion-col>
          <ion-col size="2"  class="left">{{ cert?.single_knock_9_1 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.2</ion-col>
          <ion-col size="9" class="left">Double Knock activation test</ion-col>
          <ion-col size="2"  class="left">{{ cert?.double_knock_9_2 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.3</ion-col>
          <ion-col size="9" class="left">Fire Bells Functional</ion-col>
          <ion-col size="2"  class="left">{{ cert?.fire_bells_9_3 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.4</ion-col>
          <ion-col size="9" class="left">Sounders Functional</ion-col>
          <ion-col size="2"  class="left">{{ cert?.sounders_functional_9_4 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.5</ion-col>
          <ion-col size="9" class="left">Strobes Functional</ion-col>
          <ion-col size="2"  class="left">{{ cert?.strobes_functional_9_5 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.6</ion-col>
          <ion-col size="9" class="left">Suppression Detonator activation</ion-col>
          <ion-col size="2"  class="left">{{ cert?.suppression_detonator_9_6 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.7</ion-col>
          <ion-col size="9" class="left">Door monitor Functional (If required)</ion-col>
          <ion-col size="2"  class="left">{{ cert?.door_monitor_9_7 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.8</ion-col>
          <ion-col size="9" class="left">Suppression cylinder test (if required) is pressure indicator in the green</ion-col>
          <ion-col size="2"  class="left">{{ cert?.suppression_cylinder_9_8 }}</ion-col>
        </ion-row>
        <ion-row class="">
          <ion-col size="1"  class="title-head right-border1">9.9</ion-col>
          <ion-col size="9" class="left">Auto / Manual switch function</ion-col>
          <ion-col size="2"  class="left">{{ cert?.manual_switch_9_9 }}</ion-col>
        </ion-row>

        </ng-container>
        <br>
  </ion-grid>

  <div class="ion-padding heading" *ngIf="cert?.client_comments" >Client Comments</div>
  <div class="ion-padding  details" *ngIf="cert?.client_comments" >{{ cert?.client_comments }}</div>

  <div class="ion-padding heading" *ngIf="cert?.service_company_comments" >Tehnician Comments</div>
  <div class="ion-padding  details" *ngIf="cert?.service_company_comments" >{{ cert?.service_company_comments }}</div>

  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Service Company</ion-col>
      <ion-col size="8" class="right">{{ cert?.service_company }}</ion-col>
    </ion-row>

    <!-- <ion-row class="border-bottom">
      <ion-col size="12" style="font-weight: 500; font-size:13px;" class="left">
        We, currently being a Fire Detection Company of Fire System Installations of the types identified in Section 4 of SANS 10139 of the schedule comply with the standard or Code of Practice identified in the above schedule and with all the other requirements. The completed system has been tested and inspected by the
        ndersigned and is fully operational with the condition applicable to Section 12 of SANS 10139.
      </ion-col>
    </ion-row> -->

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">SAQCC NO.</ion-col>
      <ion-col size="8" class="right">{{ tech?.saqcc_number }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Service Technician</ion-col>
      <ion-col size="7" class="right">{{ tech?.firstname }} {{ tech?.surname }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Date Service Completed</ion-col>
      <ion-col size="7" class="right">{{ cert?.date_service_completed | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <!-- <ion-row class="border-bottom">
      <ion-col size="5" class="left">Next Service Date</ion-col>
      <ion-col size="7" class="right">{{ site?.next_service_date | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row> -->

    <ion-row class="border-bottom">
      <ion-col size="12" class="heading">
        Acceptance by Client or Representative
      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Date</ion-col>
      <ion-col size="7" class="right">{{ cert?.date_client_signed | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="text-header">
           <div *ngIf="cert?.client_signature" >
          <img src="{{ cert?.client_signature }}" alt="">
        </div>

      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Name</ion-col>
      <ion-col size="7" class="right">{{ cert?.responsible_person }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="heading">
        Representative of Service Company
      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Date</ion-col>
      <ion-col size="7" class="right">{{ cert?.date_tech_signed | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="text-header">
             <div *ngIf="cert?.company_rep_signature" >
          <img src="{{ cert?.company_rep_signature }}" alt="">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Name</ion-col>
      <ion-col size="7" class="right">{{ tech?.firstname }} {{ tech?.surname }}</ion-col>
    </ion-row>

  </ion-grid>
  <br>


</ion-content>

<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-footer></app-footer>
</footer>
