<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-icon name="arrow-back-outline" size="large" color="primary"  (click)="closeModal()"></ion-icon>
    </ion-buttons>

    <ion-title>CALL POINTS</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-col size="12">
      Have new exixts have been created wihout provision of an adjacent manual call point.
    </ion-col>
  </ion-grid>

  <div class="content-form">
    <form #f='ngForm' class="forms ion-padding">
      <ion-list class="list-bg-sec">

        <ion-item lines="none">
          <ion-textarea [(ngModel)]="callPoint.manual_call_point_comments" name="manual_call_point_comments" rows="6" autocapitalize="text" cols="20" placeholder="Comments here..."></ion-textarea>
        </ion-item>
      </ion-list>

      <div padding>
        <ion-input [(ngModel)]="callPoint.tech_id" name="tech_id" placeholder="Tech ID" type="hidden"></ion-input>
        <ion-input [(ngModel)]="callPoint.service_type_id" name="service_type_id" placeholder="Service Type ID" type="hidden"></ion-input>
        <ion-input [(ngModel)]="callPoint.service_cert_id" name="service_cert_id" placeholder="Cert ID" type="hidden"></ion-input>
        <ion-input [(ngModel)]="callPoint.site_id" name="site_id" placeholder="Site ID" type="hidden"></ion-input>
        <ion-input [(ngModel)]="callPoint.date_created" name="date_created" placeholder="Date Created" type="hidden"></ion-input>
        <ion-button shape="round" expand="full" color="secondary" block (click)="submitCallPoint()">SUBMIT</ion-button>
      </div>
    </form>
  </div>

</ion-content>
