.title-default {
  width: 80%;
  font-family: 'Poppins Semi Bold';
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #FF1C1D
}

.signature-pad{
  background: #eee;
  margin: 0px !important;
  border: 1px solid #DDDDDD;
}
canvas {
  border: 3px dashed gray;
  padding: 0px !important;
  margin: 0px !important;
  background: #fff;
}

ion-button {
  height: 45px !important;
}
.heading {
  color: #040505;
  font-family: 'Poppins Medium';
  font-size: 16px;
}

ion-grid {
  padding: 0px;
}
ion-col {
  padding: 15px;
}
.border-bottom {
  border-bottom: 1px solid #e4e4e4
}

.left {
  text-align: left;
  font-size: 12px;
  font-family: 'Roboto';
}

.right {
  text-align: right;
  font-size: 12px;
  font-family: 'Roboto';
}
