<div class="footer-icons" (click)="home()" >
  <img src="../assets/img/footer-icons/home.png" alt=""><br><span>HOME</span>
</div>
<div class="footer-icons" (click)="clientSites()" >
  <img src="./assets/img/footer-icons/sites.png" alt=""><br><span>SITES</span>
</div>
<div class="footer-icons" (click)="staff()" >
  <img src="../assets/img/footer-icons/staff.png" alt=""><br><span>STAFF</span>
</div>
<div class="footer-icons" (click)="logOut()" >
  <img src="../../../assets/img/footer-icons/logout.png" alt=""><br><span>LOG OUT</span>
</div>

