.title-default {
  width: 90%;
  font-family: 'Poppins Semi Bold';
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #FF1C1D
}

.services {
  margin-top: 10px;
}
.services {
  display: block;
}

