<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <!-- <ion-buttons slot="end">
      <ion-icon style="font-size: 21px" name="notifications-outline" color="primary"></ion-icon>
      <span class="counter">0</span>
    </ion-buttons> -->

    <ion-title>PASSWORD RESET</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center-logo ion-text-center padding-top-20">
    <img id="logo" src="/assets/img/inner-logo.png" alt="">
    <div class="black-text-20">
      RESET PASSWORD?
    </div>
  </div>

  <form #f='ngForm' class="forms ion-padding">

    <ion-item  lines="none" class="list-bg">
      <ion-icon slot="end" color="danger" name="eye" (click)="showPasswordText()"></ion-icon>
      <ion-input [(ngModel)]="user.new_password" name="new_password" type="{{type}}" placeholder="New Password" required minlength="6" #passwordCtrl="ngModel"></ion-input>
    </ion-item>

    <div class="list-bg-trans" *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
      <span class="error-msg">Password must be at least 6 characters!</span>
    </div>

    <div padding>
      <ion-input [(ngModel)]="user.userID" name="userID" type="hidden" placeholder="User ID" ></ion-input>
      <ion-button shape="round" expand="full" color="primary" block (click)="resetPassword()" [disabled]="!f.valid">RESET PASSWORD</ion-button>
    </div>

  </form>

</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-footer *ngIf="roleID === '2'" ></app-footer>
  <app-staff-footer *ngIf="roleID === '3'" ></app-staff-footer>
</footer>
