<ion-header class="ion-no-border">
  <!-- <ion-toolbar>
    <ion-title>welcome</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content class="fire-home ">

  <img id="fire" src="../../../assets/img/landing-top-bg.png" alt="top-img">

  <div class="page-title ion-text-center">
    FIRE SERVICE APP
  </div>

  <div class="button-container ion-padding">
      <ion-button class="buttons" expand="block" shape="round" color="secondary"  routerLink="/entry/signin/">SIGN IN</ion-button>

      <ion-button  class="buttons" expand="block" shape="round" color="primary"  routerLink="/registration">REGISTRATION</ion-button>
  </div>

  <div class="ion-text-center contact-container">
      <img src="../../../assets/img/contact.png" alt="" routerLink="/contact-us">
      <span routerLink="/contact-us" class="contact-text">CONTACT US</span>
  </div>

  <div class="powered-by ion-text-center">
      POWERED BY FIRE SERVICE APP
  </div>

</ion-content>
