<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>SERVICE CERTIFICATE</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Contract Number</ion-col>
      <ion-col size="6" class="right">{{ cert?.site_contract }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Certificate Number</ion-col>
      <ion-col size="6" class="right" style="color: #11AC00;">{{ cert?.service_certificate_number }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Type</ion-col>
      <ion-col size="6" class="right" >{{ cert?.service_type }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service</ion-col>
      <ion-col size="6" class="right" >{{ cert?.service }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Service Due Date</ion-col>
      <ion-col size="6" class="right" >{{ cert?.final_service_date | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>

    <ion-row class="border-bottom">
      <ion-col size="12" class="left heading">{{ cert?.site_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Service Company</ion-col>
      <ion-col size="7" class="right">{{ serviceCompany?.business_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Client/Customer</ion-col>
      <ion-col size="8" class="right">{{ cert?.company_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Site Location</ion-col>
      <ion-col size="8" class="right">{{ cert?.site_location }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Address</ion-col>
      <ion-col size="8" class="right">{{ cert?.site_address }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Protected Areas</ion-col>
      <ion-col size="8" class="right">{{ cert?.protected_areas }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Due Date of Service</ion-col>
      <ion-col size="6" class="right">{{ cert?.final_service_date }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Responsible Person</ion-col>
      <ion-col size="8" class="right">{{ cert?.responsible_person }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">Contact Number</ion-col>
      <ion-col size="8" class="right">{{ cert?.site_contact_number }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">System Category:</ion-col>
      <ion-col size="8" class="right">{{ cert?.system_category  }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="10" class="left">System Code</ion-col>
      <ion-col size="2" class="right">{{ cert?.system_code }}</ion-col>
    </ion-row>

  </ion-grid>
<br>
<ion-row class="border-bottom">
  <ion-col size="12" class="left heading">CONTROL PANELS</ion-col>
</ion-row>
  <ion-grid class="tables">
    <ng-container style="margin-bottom: 15px;">
      <ion-row class="dark-bg  mb-10 ion-text-center" style="margin-bottom: 15px;" *ngFor="let item of panels"  routerLink="/service-control-panel-details/{{cert?.id}}/{{item?.cp_id}}">
        <ion-col size="12"  class="title-head right-border1">
          Control Panel {{item?.panel_number}} | Location {{item?.location}} | Date Serviced {{item?.date_serviced}} | {{item?.panel_code}}
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <div class="ion-padding heading" *ngIf="cert?.service_certificate_comments !== ''" >Comments</div>
  <div class="ion-padding  details" *ngIf="cert?.service_certificate_comments !== ''">{{ cert?.service_certificate_comments }}</div>

  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Service Company</ion-col>
      <ion-col size="7" class="right">{{ serviceCompany?.business_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="4" class="left">SAQCC NO.</ion-col>
      <ion-col size="8" class="right">{{ tech?.saqcc_number }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Service Technician</ion-col>
      <ion-col size="7" class="right">{{ tech?.firstname }} {{ tech?.surname }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Date Service Completed</ion-col>
      <ion-col size="6" class="right">{{ cert?.date_service_completed | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Next Service Date</ion-col>
      <ion-col size="7" class="right">{{ site?.next_service_date | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ng-container *ngIf="cert?.isSignOff === 'Yes'" >
    <ion-row class="border-bottom">
      <ion-col size="12" class="heading">
        Acceptance by Client or Representative
      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Date</ion-col>
      <ion-col size="7" class="right">{{ dateClientSigned | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="text-header">
        <ion-button [hidden]="hideClientBtn"  class="btn" shape="round" expand="block" color="primary" (click)="clientSignOff()" >SIGN</ion-button>

        <div *ngIf="clientSignature" >
          <img src="{{ clientSignature }}" alt="">
        </div>

      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Name</ion-col>
      <ion-col size="7" class="right">{{ cert?.responsible_person }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="heading">
        Representative of Service Company
      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Date</ion-col>
      <ion-col size="7" class="right">{{ dateTechSigned | date: 'dd/MM/yyyy' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="12" class="text-header">
        <ion-button [hidden]="hideRepBtn"  class="btn" shape="round" expand="block" color="primary" (click)="techSignOff()" >SIGN</ion-button>

        <div *ngIf="repSignature" >
          <img src="{{ repSignature }}" alt="">
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="5" class="left">Name</ion-col>
      <ion-col size="7" class="right">{{ tech?.firstname }} {{ tech?.surname }}</ion-col>
    </ion-row>
  </ng-container>

  </ion-grid>


  <form #f='ngForm' class="forms ion-padding">
    <div padding>
      <ion-input [(ngModel)]="service.id" name="id" placeholder="Service ID" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.date_signed_off" name="date_signed_off" placeholder="Tech Signoff" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.date_signed_off_client" name="date_signed_off_client" placeholder="Client Signoff" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.client_signature" name="client_signature" placeholder="Client Signature" type="hidden" required></ion-input>
      <ion-input [(ngModel)]="service.company_rep_signature" name="company_rep_signature" placeholder="Company Rep Signature" type="hidden" required></ion-input>
      <ion-input [(ngModel)]="service.party_name" name="party_name" placeholder="Third Party name" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.date_client_signed" name="date_client_signed" placeholder="Date Client Signed" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.date_tech_signed" name="date_tech_signed" placeholder="Date Tech Signed" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.service_certificate_number" name="service_certificate_number" placeholder="Service Certificate" type="hidden"></ion-input>
      <ion-input [(ngModel)]="service.technician_id" name="technician_id" placeholder="Technician ID" type="hidden"></ion-input>
      <ion-button shape="round" expand="full" color="primary" block (click)="processServiceCard()" [disabled]="!f.valid">SUBMIT</ion-button>
    </div>
  </form>
  <br>

</ion-content>

<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-tech-footer></app-tech-footer>
</footer>
