<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-menu-button (click)="closeModal()"  class="menu-btn" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>RFID DATA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




<ion-grid fixed>
  <ion-row>
    <ion-col size="6" class="left">Site ID</ion-col>
    <ion-col size="6" class="right">{{ siteID }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="left">Tag Number</ion-col>
    <ion-col size="6" class="right">{{ tagNumber }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="left">Device Number</ion-col>
    <ion-col size="6" class="right">{{ deviceNumber }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="left">Device Type</ion-col>
    <ion-col size="6" class="right">{{ deviceType }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="left">Message</ion-col>
    <ion-col size="6" class="right">{{ tagMessage }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="left">Zone</ion-col>
    <ion-col size="6" class="right">{{ tagZone }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6" class="left">Date Written</ion-col>
    <ion-col size="6" class="right">{{ tagDate }}</ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<ion-footer>
  <ion-button color="primary" expand="block" shape="round" (click)="closeModal()" >CLOSE</ion-button>
</ion-footer>
