<ion-header class="hidden">
  <ion-toolbar>
    <ion-title>Account Activation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="app">

  <div class="center-logo ion-text-center padding-top-20">
    <img id="logo" src="/assets/img/inner-logo.png" alt="">
    <div class="black-text-20">
      FORGOT PASSWORD?
    </div>
  </div>

  <div class="page-text ion-text-center">
    Please submit your email address below and <br>
    follow the instructions sent to your email.
  </div>
  <form #f='ngForm' class="forms ion-padding">

    <ion-item  lines="none" class="list-bg">
      <ion-input [(ngModel)]="user.email" name="email" type="email" placeholder="Email" (ionFocus)="hideFooter($event)"  (ionBlur)="checkEmail()" required #emailCtrl="ngModel"></ion-input>
    </ion-item>

    <div class="list-bg-trans" *ngIf="validEmail === false">
      <span class="error-msg">Invalid email address!</span>
    </div>

    <div padding>
      <ion-button shape="round" expand="full" color="secondary" block (click)="forgotPassword()" [disabled]="!f.valid || !validEmail">submit</ion-button>
    </div>

    <div class="return-home ion-text-center" style="padding-top: 10px;" routerLink="/welcome" >
      <span>Return Home</span>
    </div>
  </form>


  <div class="footer-img" *ngIf="showBanner" >
    <img src="../../../assets/img/footer-flames.png" alt="">
  </div>

</ion-content>
