.title-default {
  width: 90%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}

.left {
  text-align: left;
  font-family: 'Roboto Medium';
  font-size: 12px;
  color: #040505;
}

.right {
  text-align: right;
  font-family: 'Roboto Medium';
  font-size: 12px;
  color: #040505;
}

.bottom-border {
  border-bottom: 1px solid #E4E4E4;
}

ion-grid {
  padding: 0px;
}

ion-row {

}

ion-col {
  padding: 15px;
}

.border-line {
  border: 1px solid #E4E4E4;
  border-radius: 6px;
}

.title {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: 'Poppins Medium';
}

.img-container {
  width: 100%;
  height: 150px;
  border-radius: 6px;
}
