
<div class="footer-icons" (click)="staffFaults()" >
  <img src="./assets/img/footer-icons/faults.png" alt=""><br><span>FAULTS</span>
</div>
<div class="footer-icons" (click)="services()" >
  <img src="../assets/img/footer-icons/services.png" alt=""><br><span>SERVICES</span>
</div>
<div class="footer-icons" (click)="contactUs()" >
  <img src="../assets/img/footer-icons/contact.png" alt=""><br><span>CONTACT US</span>
</div>
<div class="footer-icons" (click)="logOut()" >
  <img src="../../../assets/img/footer-icons/logout.png" alt=""><br><span>LOG OUT</span>
</div>

