.page {
  --background: url("/assets/img/trans-bg-1.png") #fff center top no-repeat !important;
}

.title-default {
  width: 80%;
  font-family: 'Roboto Condensed Bold';
  font-size:  16px;
  text-align: center;
}

.footer {
  background: #D20010;
  padding-top: 5px;
  padding-bottom: 5px;
}
