.title-default {
  width: 80%;
  font-family: 'Poppins Semi Bold';
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #FF1C1D
}

ion-button {
  height: 50px;
}

signature-pad {
  canvas {
    border: dashed 1px #cccccc;
    width: 100%; height: 200px;
  }
}
