<ion-header>
  <ion-toolbar class="ion-text-center">

    <!-- <ion-buttons slot="start">
      <ion-menu-button class="menu-btn" color="primary"></ion-menu-button>
    </ion-buttons> -->

    <ion-title>TECHNICIAN MODULES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row  >
      <ion-col class="ion-text-center" *ngFor="let item of modules" size="6" class="padding-10" routerLink="/tech-selected-modules/{{ item?.id }}">
        <img src="/assets/img/{{ item?.module_icon }}" alt="">
        <div class="ion-text-center">{{item[0]?.business_name}}</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- <ion-grid>

    <ion-row>
      <ion-col size="6" class="padding-10" routerLink="/technician-menu/technician-job-cards">
        <img src="/assets/img/job-cards.png" alt="">
      </ion-col>
      <ion-col size="6" class="padding-10">
        <img src="/assets/img/service-cards.png" alt="" routerLink="/technician-menu/technician-service-cards">
      </ion-col>
    </ion-row>

  </ion-grid> -->

  <br />

  <ion-button routerLink="/readwrite/read" expand="block">READ RFID</ion-button>
  <br />
  <ion-button routerLink="/readwrite/write" expand="block">WRITE TO RFID</ion-button>
  <br />
  <ion-button routerLink="/write-master" expand="block">WRITE TO RFID AND MASTER</ion-button>
  <br />
  <ion-button routerLink="/sync" expand="block">SYNC DATA</ion-button>
  <br>
  <ion-button color="secondary" (click)="openSettings()"  expand="block">CONNECTION STATUS</ion-button>
  <br>
  <ion-button routerLink="/technician-menu/tabs" expand="block">SCAN BLUETOOTH</ion-button>
</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-tech-footer2></app-tech-footer2>
</footer>

