// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
@font-face {
  font-family: 'Poppins Light';
  src: url('../assets/fonts/poppins/Poppins-Light.ttf');
}
@font-face {
  font-family: 'Poppins Medium';
  src: url('../assets/fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: 'Poppins Semi Bold';
  src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf');
}
@font-face {
  font-family: 'Poppins Bold';
  src: url('../assets/fonts/poppins/Poppins-Bold.ttf');
}
@font-face {
  font-family: 'Poppins Extra Bold';
  src: url('../assets/fonts/poppins/Poppins-ExtraBold.ttf');
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../assets/fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('../assets/fonts/roboto/Roboto-Medium.ttf');
}
:root {
  /** primary **/
	--ion-color-primary: #B50909;
	--ion-color-primary-rgb: 181,9,9;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #9f0808;
	--ion-color-primary-tint: #bc2222;

  /** secondary **/
	--ion-color-secondary: #040505;
	--ion-color-secondary-rgb: 4,5,5;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #040404;
	--ion-color-secondary-tint: #1d1e1e;

  /** tertiary **/
	--ion-color-tertiary: #313131;
	--ion-color-tertiary-rgb: 49,49,49;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #2b2b2b;
	--ion-color-tertiary-tint: #464646;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #FF1C1D;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
