<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>STAFF MEMBER</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col size="12" class="left padding-15">{{ staff?.firstname }} {{ staff?.surname }}</ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="6" class="contract padding-15">Company Registration</ion-col>
      <ion-col size="6" class="right contract padding-15">{{ staff?.company_registration }}</ion-col>
    </ion-row>
    <ion-row class="border-bottom">
      <ion-col size="12" class="address-container">
        <img class="img-icon" src="/assets/img/list/marker.png" alt="">
        <span class="address">{{siteData?.site_location }}</span>
      </ion-col>

      <ion-col size="12" class="email-container">
        <img class="img-icon" src="/assets/img/list/mail.png" alt="">
        <span class="phone">{{ staff?.email }}</span>
      </ion-col>

      <ion-col size="12" class="phone-container">
        <img class="img-icon" src="/assets/img/list/phone.png" alt="">
        <span class="phone">{{ staff?.phone_number }}</span>
      </ion-col>

      <ion-col size="12" class="phone-container">
        <img class="img-icon" src="/assets/img/list/mobile.png" alt="">
        <span class="phone">{{ staff?.mobile_number }}</span>
      </ion-col>

      <ion-col size="12" class="email-container">
        <img class="img-icon" src="/assets/img/list/job.png" alt="">
        <span class="phone">{{ staff?.job_function }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="btn-container ion-padding">
    <ion-button expand="block" shape="round" color="primary" (click)="editStaff({id: staff?.id})" >EDIT STAFF MEMBER</ion-button>
    <ion-button expand="block" shape="round" color="secondary" (click)="removeStaff({id: staff?.id})" >REMOVE STAFF MEMBER</ion-button>
  </div>

</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-footer></app-footer>
</footer>
