.title-default {
  width: 80%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}

.border-bottom {
  border-bottom: 1px solid #E4E4E4;
}

.border-bottom {
  border-bottom: 1px solid #E4E4E4;
}

ion-grid {
  padding: 0px;
}

ion-col {
  padding: 15px;
  font-family: 'Roboto Regular';
  border-bottom: 1px solid #E4E4E4;
}

.text {
  font-family: 'Roboto';
  font-size: 12px;
  text-align: left;
}

.left {
  font-family: 'Roboto Regular';
  font-size: 12px;
  text-align: left;
}

.right {
  font-family: 'Roboto Regular';
  font-size: 12px;
  text-align: right;
  padding-right: 10px;
}
.heading {
  font-size: 16px;
  font-family: 'Poppins Semi Bold';
  color: #040505;
}

.details {
  font-family: 'Roboto Regular';
  font-size: 12px;
}
.title-head {
  font-family: 'Poppins Semi Bold';
  font-size: 12px;
  text-align: left;
}

.right-border {
  border-right: 1px solid #E4E4E4;;
}

.dark-bg {
  background-color: #F2F2F2;
  // margin-bottom: 15px;
}
.tables ion-col {
  padding: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 1px solid #E4E4E4;
}

ion-button {
  // height: 50px;
  width: 45px !important;
  margin-top: -5px !important;
}
