.title-default {
  width: 80%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}

.border-bottom {
  border-bottom: 1px solid #E4E4E4;
}

.site-title {
  font-family: "Poppins Semi Bold";
  font-size: 14px;
}

.border-liner {
  border: 1px solid #E4E4E4;
  margin-bottom: 15px;
}

.heading-text {
  font-size: 18px;
  font-family: 'Poppins Medium';
}

.title {
  font-family: 'Poppins Semi Bold';
  font-size: 14px;
  color: #040505;
}

.site-title {
  font-family: 'Roboto Medium';
  font-size: 12px;
  color: #040505;
}
.status {
  font-family: 'Roboto Medium';
  font-size: 12px;
}

.date {
  font-family: 'Roboto Medium';
  font-size: 12px;
}
.site {
  font-family: 'Roboto Medium';
  font-size: 12px;
}
.job {
  font-family: 'Roboto Medium';
  font-size: 12px;
}

.details {
  font-family: 'Roboto Medium';
  font-size: 12px;
  color: #040505;
}

.list img {
  width: 15px;
  position: relative;
  top: 4px;
  margin-right: 3px
}

.green {
  color: #11AC00  !important;
}

.orange {
  color: #E9A800 !important;
}

.red {
  color: #fe0000 !important;
}
ion-icon {
  font-size: 17px;
  position: relative;
  top: 2px;
}
