<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <!-- <ion-menu-button class="menu-btn" color="primary"></ion-menu-button> -->
    </ion-buttons>

    <ion-title>CLIENT MODULES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row  >
      <ion-col *ngFor="let item of modules" size="6" class="padding-10" routerLink="/selected-module/{{ item?.id }}">
        <img src="/assets/img/{{ item?.module_icon }}" alt="">
      </ion-col>
    </ion-row>
    </ion-grid>

</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-footer-client></app-footer-client>
</footer>

