<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn" color="primary"></ion-menu-button>
    </ion-buttons>

    <ion-title>WELCOME</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>

    <ion-row>
      <ion-col size="6" class="padding-10" routerLink="/client-menu/client-sites">
        <img src="/assets/img/sites.png" alt="">
      </ion-col>
      <ion-col size="6" class="padding-10">
        <img src="/assets/img/request-site.png" alt="" routerLink="/request-site">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="padding-10">
        <img src="/assets/img/staff.png" alt="" routerLink="/client-menu/client-staff">
      </ion-col>
      <ion-col size="6" class="padding-10">
        <img src="/assets/img/add-staff.png" alt="" routerLink="/add-staff">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" class="padding-10">
        <img src="/assets/img/job-cards.png" alt="" routerLink="/client-menu/client-fault-reports">
      </ion-col>
      <ion-col size="6" class="padding-10">
        <img src="/assets/img/site-history-2x.png" alt="" routerLink="/client-menu/sites-history">
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-footer></app-footer>
</footer>

