.title-default {
  width: 80%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}

.error-msg {
  color: #B50909;
  font-size: 15px;
  font-family: 'Poppins Light';
}

ion-grid {
  padding: 0px;
}
ion-col {
  padding: 15px;
}
.border-bottom {
  border-bottom: 1px solid #e4e4e4
}

.left {
  text-align: left;
  font-size: 12px;
  font-family: 'Roboto';
}

.right {
  text-align: right;
  font-size: 12px;
  font-family: 'Roboto';
}

.heading {
  font-size: 16px;
  font-family: 'Poppins Semi Bold';
  color: #040505;
}

.instructions {
  text-align: left;
  font-size: 12px;
  font-family: 'Roboto';
}

ion-item {
  border: 2px solid #e4e4e4;
  border-radius: 15px;
  margin-bottom: 15px;
}

ion-input, ion-textarea {
  --border-style: none !important;
  font-size: 13px;
  font-family: 'Poppins Light';
}

.padding-top {
  padding-bottom: 15px
}

ion-button {
  height: 50px;
  font-family: 'Poppins Semi Bold';
}

.check-label {
  font-size: 13px;
  font-family: 'Roboto';
}
.btn {
  margin-bottom: 15px;
}


.grid-bns {
  padding: 0px !important;
  margin-bottom: 15px;
}

.grid-bns ion-col {
  padding: 0px !important;
}

.black-text-13 {
  font-family: 'Roboto Medium';
  font-size: 13px;
}
