<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>JOB CARD</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Job Card No.</ion-col>
      <ion-col size="6" class="right">{{ job?.jobcard_ref }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Status</ion-col>
      <ion-col size="6" class="right">
        <span *ngIf="job?.status === 'Assigned'" style="color: #E9A800;" >{{ job?.status }}</span>
        <span *ngIf="job?.status === 'Accepted'" style="color: #11AC00;" >{{ job?.status }}</span>
        <span *ngIf="job?.status === 'Completed'" style="color: #11AC00;" >{{ job?.status }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="heading ion-padding">Client Information</div>

  <ion-grid>
    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Company Name</ion-col>
      <ion-col size="6" class="right">{{ staff?.company_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Site</ion-col>
      <ion-col size="6" class="right">{{ job?.site_name }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Instructed By</ion-col>
      <ion-col size="6" class="right">{{ staff?.firstname }} {{ staff?.surname }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Address</ion-col>
      <ion-col size="6" class="right">{{ job?.site_address }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Date Requested</ion-col>
      <ion-col size="6" class="right">{{ job?.date_requested | date: 'dd/MM/yyyy HH:mm' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom" *ngIf="job?.date_assigned" >
      <ion-col size="6" class="left">Date Assigned</ion-col>
      <ion-col size="6" class="right">{{ job?.date_assigned | date: 'dd/MM/yyyy HH:mm' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom" *ngIf="job?.date_accepted" >
      <ion-col size="6" class="left">Date Accepted</ion-col>
      <ion-col size="6" class="right">{{ job?.date_accepted | date: 'dd/MM/yyyy HH:mm' }}</ion-col>
    </ion-row>

    <ion-row class="border-bottom">
      <ion-col size="6" class="left">Function</ion-col>
      <ion-col size="6" class="right">{{ job?.function }}</ion-col>
    </ion-row>
    </ion-grid>

    <div class="heading ion-padding">Instruction</div>
    <ion-grid>
      <ion-row class="border-bottom">
        <ion-col size="12" class="instructions ">{{ job?.scope_of_work }}</ion-col>
      </ion-row>
    </ion-grid>

    <div class="heading ion-padding">Estimated Time Of Arrival</div>
    <form #f='ngForm' class="forms ion-padding">
      <ion-item>
        <ion-input [(ngModel)]="jobCard.arrival_time" name="arrival_time" placeholder="Estimated Arrival Time" value="{{ time | date: 'yyyy-MM-dd HH:mm' }}" required #arrivalTime="ngModel" id="date" class="ion-text-end" ></ion-input>
        <ion-popover trigger="date" size="cover">
          <ng-template>
            <ion-datetime presentation="date-time"  [(ngModel)]="time" hour-cycle="h23" displayFormat="yyyy-MM-dd HH:mm" name="time"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>

      <div class="ion-text-center ion-padding photo" *ngIf="panelPhoto" >
        <div class="heading" >Control Panel Photo</div>
        <img width="400" src="{{ url }}fault_images/{{ panelPhoto }}" alt="">
    </div>

      <div class="ion-text-center heading">
        ADD A BEFORE PHOTO
      </div>

      <div class="ion-text-center black-text-13">
        Please take a photo of the Control Panel or add a photo<br> form your device's gallery.
      </div>

      <ion-grid>
        <ion-row class="">
          <ion-col class="ion-text-center">
            <ion-button shape="round" (click)="presentActionSheet()" >
              <ion-icon name="camera-outline"></ion-icon> ADD BEFORE PHOTO
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-text-center ion-padding photo" *ngIf="photo" >
          <img src="{{ photo }}" alt="">
      </div>

      <div class="ion-text-center heading">
        ADD A AFTER PHOTO
      </div>

      <div class="ion-text-center black-text-13">
        Please take a photo of the Control Panel or add a photo<br> form your device's gallery.
      </div>

      <ion-grid>
        <ion-row class="">
          <ion-col class="ion-text-center">
            <ion-button shape="round" (click)="presentAfterActionSheet()" >
              <ion-icon name="camera-outline"></ion-icon> ADD AFTER PHOTO
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="ion-text-center ion-padding photo" *ngIf="photo" >
          <img src="{{ afterPhoto }}" alt="">
      </div>


      <div class="heading padding-top">
        Work Completed
      </div>
      <ion-item  lines="none" class="list-bg">
        <ion-textarea [(ngModel)]="jobCard.work_completed" name="work_completed" rows="6" cols="20" placeholder="Describe work completion here..." autocapitalize="on" required minlength="1" #workCompleted="ngModel"></ion-textarea>
      </ion-item>

      <div class="list-bg-trans" *ngIf="!workCompleted.valid && workCompleted.touched">
        <span class="error-msg">Work completed is required!</span>
      </div>


      <div class="heading padding-top">
        General Comments
      </div>
      <ion-item  lines="none" class="list-bg">
        <ion-textarea [(ngModel)]="jobCard.general_comments" name="general_comments" rows="6" cols="20" placeholder="Comments..." autocapitalize="on"></ion-textarea>
      </ion-item>

      <ion-grid style="margin-bottom: 15px;">
        <ion-row class="border-bottom">
          <ion-col size="12" class="instructions ">
            <ion-checkbox style="margin-right: 5px; position: relative; top: 2px" (ionChange)="checkBoxChange($event)" [(ngModel)]="jobCard.isReturn" name="isReturn" checked="false"></ion-checkbox> <ion-label class="check-label">Return Visit Required</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="heading padding-top" *ngIf="showReturnReason" >
        Reason for Visit Return
      </div>
      <ion-item  lines="none" class="list-bg" *ngIf="showReturnReason" >
        <ion-textarea [(ngModel)]="jobCard.return_details" name="return_details" rows="6" cols="20" placeholder="Return visit details here..." autocapitalize="on" required minlength="5" #workCompleted="ngModel"></ion-textarea>
      </ion-item>


      <div *ngIf="clientSignature" class="heading padding-top">
        Client Signature
      </div>
      <div *ngIf="partySignature" class="heading padding-top">
        Third Party Signature
      </div>


      <ion-grid class="grid-bns">
        <ion-row class="border-bottom">
          <ion-col size="12" class="instructions ">
            <ion-button [hidden]="hideClientBtn"  class="btn" shape="round" expand="block" color="primary" (click)="clientSignOff()" >CLIENT SIGN OFF</ion-button>

            <div *ngIf="clientSignature" >
                <img src="{{ clientSignature }}" alt="">
            </div>

            <div *ngIf="partySignature" >
              <img src="{{ partySignature }}" alt="">
          </div>

            <ion-button [hidden]="hidePartyBtn" class="btn"  shape="round" expand="block" color="secondary" (click)="partySignOff()">3RD PARTY SIGN OFF</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div padding>
        <ion-input [(ngModel)]="jobCard.id" name="id" placeholder="job ID" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.beforePhoto2" name="beforePhoto2" placeholder="Before Photo" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.afterPhoto2" name="afterPhoto2" placeholder="After Photo" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.date_signed_off" name="date_signed_off" placeholder="Date Time" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.clientSignature" name="clientSignature" placeholder="Client Signature" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.thirdPartySignature" name="thirdPartySignature" placeholder="Third Party Signature" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.partyName" name="partyName" placeholder="Third Party name" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.partySurname" name="partySurname" placeholder="Third Party Surname" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.partyJobFunction" name="partyJobFunction" placeholder="Third Party Job Function" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.techID" name="techID" placeholder="TechID" type="hidden"></ion-input>
        <ion-input [(ngModel)]="jobCard.jobID" name="jobID" placeholder="JobID" type="hidden"></ion-input>
        <ion-button shape="round" expand="full" color="primary" block (click)="completeAssignedJobCard()" [disabled]="!f.valid">MARK AS COMPLETE</ion-button>
      </div>
    </form>
    <br>
</ion-content>

<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-tech-footer></app-tech-footer>
</footer>
