<ion-header class="hidden">
  <ion-toolbar>
    <ion-title>clientRegistration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="container ion-padding">
  <div class="border-line">

     <div class="heading ion-text-center">
       CLIENT REGISTRATION
     </div>

     <ion-card class="client-section" style="margin-bottom: 25px;" routerLink="/entry/register">
      <ion-card-content class="ion-text-center">
        <img style="position: absolute;left: 5px; top:1px;" src="assets/img/client-icon.png" alt=""> <span class="white-text">CLIENT</span>
      </ion-card-content>
    </ion-card>

    <ion-card class="client-section" routerLink="/staff-entry/register">
      <ion-card-content class="ion-text-center">
        <img style="position: absolute;left: 5px; top:1px;" src="assets/img/staff-icon.png" alt=""> <span class="white-text">STAFF</span>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div class="tech ion-text-center ion-padding">

<div class="ion-padding">
  <div class="white-text-21">FIRE SERVICE APP</div>
  <div class="white-text-21">TECHNICIAN REGISTRATION</div>

  <ion-card class="client-section" routerLink="/tech-entry/register">
    <ion-card-content class="ion-text-center">
      <img style="position: absolute;left: 5px; top:1px;" src="assets/img/tech-icon.png" alt=""> <span class="white-text">TECHNICIAN</span>
    </ion-card-content>
  </ion-card>

</div>

<!-- <div style="min-height: 10px;"></div> -->
</div>


</ion-content>
