.title-default {
  width: 80%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}


.black-text-20 {
  color: #313131;
  font-size: 20px;
  font-family: 'Poppins Semi Bold';
}

.error-msg {
  color: #B50909;
  font-size: 15px;
  font-family: 'Poppins Light';
}

ion-item {
  border: 2px solid #e4e4e4;
  border-radius: 15px;
  margin-bottom: 15px;
}

ion-input, ion-textarea {
  --border-style: none !important;
  font-size: 13px;
  font-family: 'Poppins Light';
}

ion-button {
  height: 50px;
}

.padding-top-20px {
  padding-top: 20px !important
}

.return-home {
  font-size: 14px;
  font-family: 'Poppins Medium';
  color: #FF1C1D
}

.spacer {
  margin-right: 10px;
  color: #B50909;
}
