.title-default {
  width: 80%;
  font-family: "Poppins Semi Bold";
  font-size: 15px;
}

.padding-10 {
  padding: 10px;
}

.logo-bottom {
  border-bottom: 6px solid #ff1c1d;
}


.black-text-20 {
  color: #313131;
  font-size: 20px;
  font-family: 'Poppins Semi Bold';
}

.error-msg {
  color: #B50909;
  font-size: 15px;
  font-family: 'Poppins Light';
}

ion-button {
  height: 50px;
}

.padding-top-20px {
  padding-top: 20px !important
}

.return-home {
  font-size: 14px;
  font-family: 'Poppins Medium';
  color: #FF1C1D
}

.page-title {
  font-family: 'Poppins Medium';
  font-size: 18px;
  padding-top: 15px;
}

.heading-text {
  font-size: 18px;
  font-family: 'Poppins Medium';
}

.title {
  font-family: 'Poppins Semi Bold';
  font-size: 14px;
  color: #040505;
}

.site-title {
  font-family: 'Roboto Medium';
  font-size: 11px;
  color: #040505;
}
.status {
  font-family: 'Roboto Medium';
  font-size: 11px;
}

.details {
  font-family: 'Roboto Medium';
  font-size: 11px;
  color: #040505;
}

.list img {
  width: 15px;
  position: relative;
  top: 4px;
  margin-right: 3px
}

.green {
  color: #11AC00  !important;
}

.orange {
  color: #E9A800 !important;
}

.red {
  color: #fe0000 !important;
}

ion-icon {
  font-size: 17px;
  position: relative;
  top: 4px;
}
