<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ pageTitle }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="read" *ngIf="writingTag" >
    <form #f='ngForm' class="forms ion-padding">
      <p class="heading">Select Service Certificate</p>
      <ion-item >
        <ion-label>Select</ion-label>
        <ion-select [(ngModel)]="tag.serviceID" name="serviceID" (ionChange)="getCertificateData($event)" placeholder="Select Service Card" required #cert="ngModel">
          <ion-select-option *ngFor="let item of sites" value="{{item?.id}}">{{ item?.service_certificate_number }}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="list-bg-trans" *ngIf="!cert.valid && cert.touched">
        <span class="error-msg">Service certificate is needed!</span>
      </div>

      <p class="heading">Select Control Panel</p>
      <ion-item >
        <ion-label>Select</ion-label>
        <ion-select [(ngModel)]="tag.cpID" name="cpID" placeholder="Select Panel" required #panel="ngModel">
          <ion-select-option *ngFor="let item of panelsList" value="{{item.cp_id}}">Panel {{ item?.panel_number }}</ion-select-option>
        </ion-select>
      </ion-item>

      <div class="list-bg-trans" *ngIf="!panel.valid && panel.touched">
        <span class="error-msg">Control panel is needed!</span>
      </div>

      <ion-item  lines="none" class="list-bg">
        <ion-input [(ngModel)]="tag.actuatorNumber" name="actuatorNumber" type="tel" placeholder="Actuator Number" required #actuatorNumber="ngModel"></ion-input>
      </ion-item>

      <div class="list-bg-trans" *ngIf="!actuatorNumber.valid && actuatorNumber.touched">
        <span class="error-msg">Actuator number is required!</span>
      </div>

      <ion-item  lines="none" class="list-bg">
        <ion-input [(ngModel)]="tag.actuatorCode" name="actuatorCode" type="text" autocapitalize="characters" placeholder="Actuator Code" required #actuatorCode="ngModel"></ion-input>
      </ion-item>

      <div class="list-bg-trans" *ngIf="!actuatorCode.valid && actuatorCode.touched">
        <span class="error-msg">Actuator code is required!</span>
      </div>

      <ion-item  lines="none" class="list-bg">
        <ion-input [(ngModel)]="tag.location" name="location" type="text" autocapitalize="words" placeholder="Location" ></ion-input>
      </ion-item>

      <ion-item  lines="none" class="list-bg">
        Date: {{ writeDate }}
      </ion-item>
      <div padding>
        <ion-input [(ngModel)]="tag.siteID" name="siteID" type="hidden" placeholder="Site ID" ></ion-input>
        <ion-input [(ngModel)]="tag.serviceTypeID" name="serviceTypeID" type="hidden" placeholder="Service Type ID" ></ion-input>
        <ion-input [(ngModel)]="tag.writeTime" name="writeTime" type="hidden" placeholder="writeTime" readonly=""></ion-input>
        <ion-button shape="round" expand="full" color="primary" block (click)="writeTag()"  [disabled]="!f.valid">SUBMIT</ion-button>
      </div>

    </form>
  </div>

  <div class="read-data"  *ngIf="deviceData === 'No Record Found'" >
    <ion-card *ngIf="deviceData === 'No Record Found'" >
      <ion-card-content>
        Device data could not be found!
      </ion-card-content>
    </ion-card>
  </div>

  <div class="read-data"  *ngIf="showDevice && deviceData !== 'No Record Found'" >

    <ion-grid fixed>
      <ion-row class="border-bottom">
        <ion-col size="12" class="heading">Tag Data From Database: Actuator Code {{ deviceData?.actuator_code }}</ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6" class="left">Actuator Code</ion-col>
        <ion-col size="6" class="right">{{ deviceData?.actuator_code }}</ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6" class="left">Actuator Number</ion-col>
        <ion-col size="6" class="right">{{ deviceData?.actuator_number }}</ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6" class="left">Actuator Type</ion-col>
        <ion-col size="6" class="right">{{ deviceData?.actuator_type }}</ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6" class="left">Actuator Sub Type</ion-col>
        <ion-col size="6" class="right">{{ deviceData?.actuator_sub_type }}</ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6" class="left">Location</ion-col>
        <ion-col size="6" class="right">{{ deviceData?.actuator_location }}</ion-col>
      </ion-row>
      <ion-row class="border-bottom">
        <ion-col size="6" class="left">Date Written</ion-col>
        <ion-col size="6" class="right">{{ deviceData?.actuator_created }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>
