<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>


    <ion-title>SERVICE CERTIFICATES</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="ion-text-center heading-text">
    OPEN SERVICES
  </div>

  <ng-container *ngIf="open === 'No Record Found'">
    <ion-card>
      <ion-card-content class="ion-tect-center">
        There are no service certificates at the moment!
      </ion-card-content>
    </ion-card>
  </ng-container>

 <ng-container style="padding: 15px;" *ngIf="open?.length > 0">
   <ng-container *ngFor="let item of open">
     <div *ngIf="item.service_status === 'Assigned'" class="border-liner list ion-padding" routerLink="/view-site-certificate-details/{{ item.id }}">
       <div class="title">Service Certificate No. {{ item?.service_certificate_number }}</div>
       <div class="site"><img src="/assets/img/list/marker.png" alt="">{{ item?.site_name }}</div>
       <div class="status" style="color: #E9A800;"><img src="/assets/img/list/viewer.png" alt="">{{ item?.service_status }}</div>
       <div class="date"><img src="/assets/img/list/calendar.png" alt="">{{ item?.date_assigned | date: 'dd/MM/yyyy HH:mm' }}</div>
     </div>
     <div *ngIf="item.service_status === 'Accepted'" class="border-liner list ion-padding" routerLink="/view-site-certificate-details/{{ item.id }}">
      <div class="title">Service Certificate No. {{ item?.service_certificate_number }}</div>
      <div class="site"><img src="/assets/img/list/marker.png" alt="">{{ item?.site_name }}</div>
      <div class="status" style="color: #E9A800;"><img src="/assets/img/list/viewer.png" alt="">{{ item?.service_status }}</div>
      <div class="date"><img src="/assets/img/list/calendar.png" alt="">{{ item?.date_accepted | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>
    <div *ngIf="item.service_status === 'Available'" class="border-liner list ion-padding" routerLink="/view-site-certificate-details/{{ item.id }}">
      <div class="title">Service Certificate No. {{ item?.service_certificate_number }}</div>
      <div class="site"><img src="/assets/img/list/marker.png" alt="">{{ item?.site_name }}</div>
      <div class="status" style="color: #E9A800;"><img src="/assets/img/list/viewer.png" alt="">{{ item?.service_status }}</div>
      <div class="date"><img src="/assets/img/list/calendar.png" alt="">{{ item?.service_card_created | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>
   </ng-container>
  </ng-container>

  <div class="ion-text-center heading-text">
    SERVICES HISTORY
  </div>

  <ng-container *ngIf="completed === 'No Record Found'">
    <ion-card>
      <ion-card-content class="ion-tect-center">
        There are no service certificates at the moment!
      </ion-card-content>
    </ion-card>
  </ng-container>

  <ng-container style="padding: 15px;" *ngIf="completed?.length > 0">
    <ng-container *ngFor="let item of completed">
      <div *ngIf="item.service_status === 'Completed'" class="border-liner list ion-padding" routerLink="/view-site-certificate-complete/{{ item.id }}">
        <div class="title">Service Certificate No. {{ item?.service_certificate_number }}</div>
        <div class="site"><img src="/assets/img/list/marker.png" alt="">{{ item?.site_name }}</div>
        <div class="status" style="color: #11AC00;"><img src="/assets/img/list/viewer.png" alt="">{{ item?.service_status }}</div>
        <div class="date"><img src="/assets/img/list/calendar.png" alt="">{{ item?.date_completed | date: 'dd/MM/yyyy HH:mm' }}</div>
      </div>
    </ng-container>
  </ng-container>

</ion-content>
<footer class="footer">
  <div class="ion-text-center logo-bottom">
    <img valign="center" src="/assets/img/footer-icon.png" alt="">
  </div>
  <app-footer></app-footer>
</footer>
