<ion-header>
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-back-button class="menu-btn" color="primary"></ion-back-button>
    </ion-buttons>

    <ion-title>SYNC DATA</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <br />  <br />
  <ion-button (click)="syncJobCards()"  expand="block">SYNC JOB CARDS</ion-button>

  <br />
  <ion-button (click)="syncServiceCards()"  expand="block">SYNC SERVICE CERTIFICATES</ion-button>

  <!-- <br /> -->
  <!-- <ion-button (click)="syncDevices()"  expand="block">SYNC DEVICES</ion-button> -->

</ion-content>
